/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  height: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0e2f28;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}
.filter-buttons button {
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 60px;
  border: 1px solid #1d6154;
  background-color: transparent;
  font-family: "Syne";
  font-weight: bold;
  color: #1d6154;
}
.filter-buttons button.active {
  background-color: #1d6154;
  color: white;
}
#login-form {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3d3d3d;
}
#login-form h2 {
  margin-bottom: 20px;
}
#login-form input,
#add-photo-form input,
#add-photo-form select {
  margin-bottom: 20px;
  height: 40px;
  font-size: 1em;
  padding: 0;
  border: 0;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 100%;
}
#login-form label,
#add-photo-form label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Work Sans";
}
#login-form button,
#editor-modal button {
  font-family: "Syne";
  font-weight: bold;
  color: white;
  background-color: #1d6154;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  padding: 10px;
  width: 60%;
  font-size: 14px;
  margin-bottom: 10px;
}
#login-form button:hover,
#editor-modal button:hover {
  background-color: #0e2f28;
}
#login-form a {
  margin-top: 10px;
}
body {
  background-color: #fffef8;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Work Sans";
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}
footer {
  width: 100%;
  background: white;
  padding-right: 50px;
  box-sizing: border-box;
}
li.selected {
  font-weight: bold;
}
nav li a {
  text-decoration: none;
  color: inherit;
}
#error-message {
  color: red;
}
.edition-mode {
  background-color: black;
  color: white;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: none;
}
.edition-mode i {
  color: white;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
.section-header h2 {
  margin: 0 !important;
}
.open-editor-modal {
  margin-left: 20px;
  display: none;
  cursor: pointer;
}
.open-editor-modal i {
  margin-right: 5px;
}
#logout {
  display: none;
}
.edition-mode-active .edition-mode,
.edition-mode-active .open-editor-modal {
  display: flex !important;
}

.edition-mode-active .filter-buttons,
.edition-mode-active #login {
  display: none !important;
}
.edition-mode-active #logout {
  display: block !important;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}
dialog {
  background: white;
  border-radius: 10px;
  border: 0;
}
#editor-modal {
  width: 630px;
}
#editor-modal i {
  cursor: pointer;
  font-size: 20px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 420px;
}
.modal-body h3 {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  margin: 50px 0;
}
.modal-body hr {
  width: 100%;
  margin: 40px 0 20px 0;
  border-top: 1px solid #b3b3b3;
}
.modal-nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.modal-container .modal-add-photo,
.modal-container .back-button {
  display: none;
}
.modal-container.photo-mode .modal-add-photo {
  display: flex !important;
}
.modal-container.photo-mode .back-button {
  display: block !important;
}
.modal-container.photo-mode .modal-gallery {
  display: none !important;
}
.modal-gallery-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.modal-gallery-main img {
  object-fit: cover;
  width: 100%;
  max-height: 100px;
  height: 100%;
}
.modal-gallery-main figure {
  position: relative;
}
.modal-gallery-main .delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background: black;
  color: white;
  padding: 4px;
  cursor: pointer;
  font-size: 10px !important;
}
#drop-zone {
  background-color: #e8f1f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #b9c5cc;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Work Sans" !important;
  font-size: 10px !important;
  margin-bottom: 30px !important;
}
#drop-zone .button {
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #cbd6dc;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: bold;
  color: #306685;
  width: 35%;
  text-align: center;
}
#drop-zone .button:hover {
  background-color: #b9c5cc;
}
#drop-zone i {
  font-size: 75px;
  color: #b9c5cc;
}
#drop-zone img {
  max-height: 200px;
  max-width: 420px;
  object-fit: contain;
  margin: -20px 0;
}
#add-photo-form input[type="file"] {
  display: none;
}
#add-photo-form button:disabled {
  background-color: #a7a7a7;
}
#upload-message,
#delete-message {
  margin: 10px 0 20px 0;
}
